* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  @import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);
  
  body {
    font-family: "Montserrat", sans-serif;
    background-image: linear-gradient(red, yellow);
  }
  
  .box {
    width: 1320px;
    height: 92vh;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items:center;
    justify-content:space-between;
    gap: 1px;
  }
  
  .part{
    width: 30%;
    height: 100%;
    padding-top: 60px;
    
  }
  .title {
    color: white;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    user-select: none;
  }
  .title1 {
    color: white;
    font-size: 28px;
    font-weight: 600;
    padding-left: 100px;
    line-height: 50px;
    user-select: none;
  }
  
  #input_table {
    width: 350px;
    height: 100px;
    background-color: gray;
    /* margin: 10px; */
    border-radius: 15px;
    overflow: hidden;
  }
  
  #output_table {
    width: 350px;
    height: 100px;
    background-color: gray;
    /* margin: 10px; */
    border-radius: 15px;
    overflow: hidden;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
  
  
  }
  
  #data_1 {
    width: 100%;
    height: 100%;
    border: none;
    padding: 10px;
    background-color: rgba(240, 244, 247, 0.904);
    color: darkblue;
    font-size: 20px;
    font-family: sans-serif;
  }
  #data_2 {
    width: auto;
    height: 100%;
    border: none;
    padding: 10px;
    background-color: rgba(240, 244, 247, 0.904);
    color: darkblue;
    font-size: 20px;
    font-family: sans-serif;
  }
  #data_3 {
    width: 100%;
    height: 100%;
    border: none;
    padding: 10px;
    background-color: rgba(240, 244, 247, 0.904);
    color: darkblue;
    font-size: 20px;
    font-family: sans-serif;
  }
  #data_4 {
    width: auto;
    height: 100%;
    border: none;
    padding: 10px;
    background-color: rgba(240, 244, 247, 0.904);
    color: darkblue;
    font-size: 20px;
    font-family: sans-serif;
  }
  
.forImg{
width: 35%;
height: 100%;
border: 1px solid white;
overflow: hidden;
overflow-x: scroll;
border-radius: 10px;
  img {
    width: 900px;
    height: 590px; 
    display: block;
    object-fit: cover;
  }
}
